.RectInput,
.drawing {
  align-content: center;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}
.RectInput .input-group {
  margin: 0 auto;
  width: 20em;
}
#drawRect {
  margin: 0 auto;
}
#shape {
  background: rgb(235, 235, 235);
}
.drawing div {
  margin: 0 auto;
}
